/* Change the chat bubble background color */
  .rw-conversation-container .rw-header .rw-close-function {
    background-color: #5bc995;
  }
  
  /* Change the chat bubble text color */
  .rw-conversation-container .rw-messages-container .rw-message .rw-client {
    color: #ffffff;
  }
  
  /* Change the user message bubble background color */
  .rw-conversation-container .rw-messages-container .rw-message .rw-response {
    background-color: #ffffff;
  }

  .rw-conversation-container .rw-messages-container .rw-replies .rw-response {
    background-color: #5bc995;
  }
  
  /* Change the user message bubble text color */
  /* .rw-conversation-container .rw-messages .rw-response .rw-message-text .rw-message-content {
    color: #333333;
  } */
  